// USER VARIABLES SECTION

$accent: #E8C300; // Accent Color
$fontsize: 18px; // Body Font Size
$bg-light: #ffffff;
$text: #ffffff;
$textdark: #000000; // Text Color
$textlight: rgba(255, 255, 255, 0.9);
$textheading: #ffffff;
$bordercolor: rgba(255, 255, 255, 0.2);
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$opensans: 'Open Sans', sans-serif; 

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/swiper/swiper.scss';
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    // font-display: swap; // Uncomment to initially display system fonts
    src: local($fname), url($furl) format('woff2');
  }
}
@include font('Open Sans', normal, 400, '../fonts/opensans.woff2');
@include font('Open Sans Bold', normal, 700, '../fonts/opensansbold.woff2');
@include font('Banny', normal, 400, '../fonts/banny-round.woff2');
@include font('Banny Ligth', normal, 200, '../fonts/banny-lightround.woff2');
@include font('Banny Bold', normal, 700, '../fonts/banny-lightround.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input, textarea {
  outline: none;
  &:focus:required:invalid { border-color: red }
  &:required:valid { border-color: green }
}

body {
  font-family: $opensans;
  font-size: $fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  color: $text;
}
