@import 'config';

.h1 {
  font-family: Banny;
  font-size: 96px;
  line-height: 1.45;
  font-weight: normal;
  text-transform: uppercase;
  color: $textheading;
  position: relative;
  text-align: center;
  margin: 0;

  &:after {
    content: '';
    height: 5px;
    width: 60px;
    background-color: $accent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  @include media-breakpoint-down(lg) {
    font-size: 76px;
   }

  @include media-breakpoint-down(md) {
   font-size: 66px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 46px;
   }


}

.h2 {
  font-family: Banny;
  font-size: 36px;
  line-height: 1.33;
  font-weight: normal;
  text-transform: uppercase;
  color: $textheading;
  text-align: center;
  position: relative;
  margin-bottom: 15px;

  &:after {
    content: '';
    height: 5px;
    width: 60px;
    background: $accent;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 5px;
  }

  @include media-breakpoint-down(md) {
   font-size: 28px;
  }

  @include media-breakpoint-down(md) {
    font-size: 28px;
   }
}

.h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 0;
}

body {
  background-color: rgb(54, 50, 50);
}

.light {
  background-color: $bg-light;
  color: $textdark;

  .h1 {
    color: $textdark;
  }

  .h2 {
    color: $textdark;
  }
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 6.25rem 0;

  @include media-breakpoint-down(lg) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
   }

  @include media-breakpoint-down(md) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }


}

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    flex: 0 0 100%;

    &:nth-child(3) {
      padding-top: 2rem;
    }
  }
}

.wrap-img {
  border-radius: 5px;
  position: relative;
  width: calc(100% - 2.5rem - 19.5%);
  padding-bottom:  calc(100% - 2.5rem - 19.5%);
  overflow: hidden;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.img-response {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  text-align: center;
  padding: $grid-gutter-width/2;
  padding-right: 2.5rem;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 1.8;

  @include media-breakpoint-down(md) {
    line-height: 1.5;
    padding: $grid-gutter-width/2 ;
  }
  @include media-breakpoint-down(sm) {
    padding: $grid-gutter-width/2 0;
  }
}

.text--bold {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0.5rem;

  @include media-breakpoint-down(md) {
    line-height: 1.5;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.rect {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    right: 0;
    width: 39.08%;
    padding-bottom: 32.82%;
    border: 20px solid $accent;
    border-radius: 5px;
  }

  &--l-side {
    align-items: flex-end;

    &::after {
      left: 0;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    flex: 0 0 25%;
  }

  &__column {
    display: flex;
    flex: 0 0 41.41%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $text;
    height: 100px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $bordercolor;
    box-sizing: border-box;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $accent;
      transform: translateX(-102%);
      transition: transform .5s ease-in;
      z-index: 1;
    }

    &:hover{
      text-decoration: none;
      color: $accent;
      transition: all .1s;

      &::after {
        transform: translateX(0%);
      }
    }

    &.active {
      text-decoration: none;
      color: $accent;
      transition: all .1s;

      &::after {
        transform: translateX(0%);
      }
    }

    @include media-breakpoint-down(md) {
      height: 70px;
    }
  }

  &.menu--open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(41, 20, 20);
    z-index: 100;
    padding-top: 2rem;
    transform: translateX(0);
    transition: all 0.5s ease-in;


    .menu__column {
      flex: 0 0 auto;
      width: 70%;
      flex-direction: column;
    }

    .menu__link {
      height: 50px;
    }
  }

  
  @include media-breakpoint-down(sm) {
    display: none;
  }
  
}

.burger-btn {

  display: none;
  position: relative;
  width: 30px;
  height: 20px;

  @include media-breakpoint-down(md){
    display: block;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      background: $textlight;
      transition: all .3s;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: $textlight;
      transition: all .3s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.open span{
      opacity: 0;
    }

    &.open:before{
      transform: rotate(45deg);
      top: 9px;
    }

    &.open:after{
      transform: rotate(-45deg);
      top: 9px;
    }
  }
}

//*************FIRST SCREEN********************

.firstscreen {
  width: 100%;
  height: 100vh;
  background: url('../images/src/header-bg.png') no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;
  overflow: hidden;

  &__container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;

    @include media-breakpoint-down(md) {
      // padding-top: 0;
      // padding-bottom: 0;
      padding: 0;
    }
  }

  &__top-line {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;

      .menu__link {
        height: 55px;
      }

      .firstscreen__logo {
        top: 5px;
        height: 70px;
        width: 70px;
        transition: all 0.3s;
      }
    }

    @include media-breakpoint-down(md){
      min-height: 55px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    transition: all 0.3s;

    img {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(md) {
      width: 100px;
      height: 100px;
      top: 10px;
    }

    @include media-breakpoint-down(sm) {
      // display: none;
    }

  }

  &__menu {
    flex: 0 0 100%;
    max-width: 1280px;

    @include media-breakpoint-down(md){
      transform: translateY(-120%);
    }

  }

  &__burger {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1000;
  }

  &__body-l {
    flex: 0 0 16.7%;
    height: calc(100% - 100px);
    position: relative;
    box-sizing: border-box;
    transition: all 0.3s;

    @include media-breakpoint-down(md) {
      flex: 0 0 10%;
      height: calc(100% - 70px);
      min-width: 50px;
    }
  }

  &__op-mode {
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%) translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    line-height: 1;

    @include media-breakpoint-down(md) {
      left: 50%;
      transform: rotate(-90deg) translateY(50%) translateX(-50%);
    }
    
  }

  &__body-c {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 66.6%;
    height: calc(100% - 100px);
    border-left: 1px solid $bordercolor;
    border-right: 1px solid $bordercolor;
    box-sizing: border-box;
    transition: all 0.3s;

    @include media-breakpoint-down(md) {
      flex: 1 1 auto;
      height: calc(100% - 55px);
    }

    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }

  &__body-r {
    flex: 0 0 16.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% - 100px);
    box-sizing: border-box;
    transition: all 0.3s;

    @include media-breakpoint-down(md) {
      flex: 0 0 10%;
      height: calc(100% - 70px);
      justify-content: center;
      min-width: 50px;
    }
    
  }

   &__social {
     display: flex;
     flex-direction: column;
  }
}

.body-c {

  &__title {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 2rem;
    z-index: 13;

    span {
      font-size: 12px;
      line-height: 1.17;
      text-transform: uppercase;
      letter-spacing: 0.7em;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__btn-down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 1px solid $bordercolor;
    border-radius: 50%;
    position: relative;

    &::after, &::before {
      content: '';
      position: absolute;
      top: 60px;
      right: 50%;
      transform: translateX(100%);
      width: 1px;
      background-color: $bordercolor;
      height: 55vh;
      z-index: 12;
    }

    &::before {
      top: -55vh;
    }
  }
}

.btn {
  display: flex;
  outline: none;
  text-decoration: none;
  color: $text;
  background-color: $accent;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 60px;
  font-size: 12px;
  line-height: 1;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-right: $grid-gutter-width*2;

    @include media-breakpoint-down(sm) {
      margin-right: $grid-gutter-width;
    }
  }

  &:hover {
    text-decoration: none;
    color: $text;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
  }

  

  @include media-breakpoint-down(sm) {
    min-width: 90px;
    height: 35px;
  }
}

.btn--transparent {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s;

  &:hover {
    background: $accent;
    border-color: $accent;
    transition: all 0.3s;
  }
}

.btn-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $text;

}

.social {

  &__item {
    height: 60px;
    width: 60px;
    border: 1px solid $bordercolor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: $grid-gutter-width;
    }

    i {
      line-height: 0;
    }

    @include media-breakpoint-down(sm) {
      height: 45px;
      width: 45px;
    }
  }
}

//**************ABOUT***************

.about {

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
  }

  &__title {
  }

  &__text {
  }

  &__img-wrap {
    margin-left: 2.5rem;
  }
}

//************OUER TEAM******************

.team {
  background: url('../images/src/specialty-bg.png') no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;

  &__container {
    display: flex;
    padding-top: 0;
    flex-wrap: wrap;
  }

  &__header {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column {
  }

  &__title {
  }

  &__text {
  }

  &__img-wrap {
    box-sizing: border-box;
    margin-right: $grid-gutter-width*2;
  }
}

.dark {
  background-color: rgb(54, 50, 50);
  position: relative;

  .h2 {
    margin-top: 1.2rem;
  }

  .img-wrap {
    margin-right: 2.5rem;
  }

  .text {
    padding-left: 2.5rem;

    @include media-breakpoint-down(md) {
      padding-left: $grid-gutter-width/2;
    }
  }

  &::before, .container::after, .container::before  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $bordercolor;
  }

  &::before {
    left: 50%;
    transform: translateX(100%);
  }

  .container::before {
    left: 16.7%;
  }

  .container::after {
    left: 83.3%;
  }

}

//*************RSERVATION***************

.reservation {

  &__container {
    display: flex;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  &__column {
  }

  &__title {
    margin-bottom: $grid-gutter-width;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 $grid-gutter-width;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.36;
    margin-left: $grid-gutter-width*3;

    .form__input-field {
      flex: 0 0 calc((100%/2) - 5px);

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
      }
    }

    .form__button {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      margin: 0;
      margin-bottom: $grid-gutter-width;
    }
  }

  &__img-wrap {
    margin-left: 2.5rem;
  }

  &__footer {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    span, a {
      font-weight: bold;
      color: rgba(51, 51, 51, 0.6);
    }

    a {
      white-space: nowrap;
      transition: all 0.3s;

      &:hover {
        text-decoration: none;
        color: rgba(51, 51, 51, 0.8);
        transition: all 0.3s;
      }
    }

  }
}

.form {

  &__input-field {
    margin-bottom: $grid-gutter-width/2;
  }

  &__input {
    height: 60px;
    background-color: #e5e5e5;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-left: 1rem;
    width: 100%;
    
    &::placeholder {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.36;
    }
  }

  &__button {
  }
}


//***************SPECIALTIES****************

.specialties {
  background-image: url('../images/src/specialties-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;
  }

  &__slide {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $grid-gutter-width/2;
  }

  &__header {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      height: 4.375rem;
    }
  }

  &__column {
  }

  &__img-wrap {
    margin-right: 2.5rem;
  }

  &__title {
  }

  &__text {
  }

  &__paginate {
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-pagination-bullet{

  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);

  &-active {
    background-color: rgb(255, 255, 255);
  }

  &:not(:last-child) {
    margin-right: $grid-gutter-width;
  }

}

//**************MENU****************

.rest-menu {

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.1rem;

    @include media-breakpoint-down(sm) {
      padding-bottom: 1rem;
    }
  }

  &__title {
    padding-bottom: 0.6rem;
  }

  &__text {
    max-width: 565px;
    margin-bottom: 1.2rem;

    @include media-breakpoint-down(md) {
      margin-bottom:0;
    }
  }

  &__navigate {
    margin-bottom: 2.2rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:not(:last-child) .rest-menu__link {
      border-right: 1px solid rgba(51, 51, 51, 0.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    color: #333333;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      color: #333333;
      opacity: 0.7;
      transition: all 0.3s;
    }

    @include media-breakpoint-down(md) {
      width: auto;
      height: 40px;
      padding: 0 $grid-gutter-width;
    }

    @include media-breakpoint-down(sm) {
      width: auto;
      flex: 1 1 auto;
      height: 30px;
      padding: 0 $grid-gutter-width/4;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 $grid-gutter-width;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__item {
    margin-bottom: 1.85rem;
  }
}

.item-menu {

  flex: 0 0 calc((100%/3) - 64px);
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg) {
    flex: 0 0 calc((100%/2) - 40px);
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 calc((100%/2) - 20px);
  }

  @include media-breakpoint-down(sm) {
    flex: 0 0 100%;
  }

  &__title {
  flex: 1 1 auto;
  font-family: 'Banny';
  line-height: 1;
  }

  &__price {
    font-family: 'Banny';
    line-height: 1;
  }

  &__descr {
    width: 100%;
    font-size: 12px;
    opacity: 0.5;
  }
}

//*************************************EVENTS*****************************

.events {
  background-image: url('../images/src/specialties-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column {
    
    &:nth-child(1) {
      .events__img-title {
        left: 0;

        span {
          display: block;
          transform-origin: bottom left;
          transform: rotate(-90deg) translate(10%, 150%);
          position: absolute;
          bottom: 0;
          border-radius: 5px 0 0 5px;
        }
      }
    }
  }

  &__img-wrap {
    position: relative;
    margin: 0 $grid-gutter-width*2;

  }

  &__img-title {
    position: absolute;
    right: 0;
    width: 22%;
    max-width: 80px;
    height: 100%;
    font-size: 24px;
    text-transform: uppercase;
    color: $text;
    background-color: #000000;
    z-index: 13;
    white-space: nowrap;

    span {
      display: block;
      transform-origin: bottom left;
      transform: rotate(90deg) translate(-20%, -50%);
      border-radius: 0 5px 5px 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }

  &__footer {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    // white-space: nowrap;

    a {
      transition: all 0.3s;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      line-height: 1.8;

      &:hover {
        text-decoration: none;
        color: rgba(51, 51, 51, 0.8);
        transition: all 0.3s;
      }
    }
  }

  &__gallery {
  }
}

.gallary-events {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    position: relative;
    flex: 0 0 calc(100% / 4);
    padding-bottom: calc(100% / 4);

    @include media-breakpoint-down(sm) {
       flex: 0 0 calc(100% / 2);
       padding-bottom: calc(100% / 2);
    }
  }
}

//**************CONTACT******************************************************

.contact {

  &__container {
  }

  &__title {
    margin-bottom: 0.65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__text {
    max-width: 565px;
    margin: 0 auto;
    margin-bottom: 2.2rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }

  &__body {
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__input-field {
      flex: 0 0 calc((100% / 3) - 7px);

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
      }
    }
    
    .form__input-field:nth-child(4) {
      flex: 0 0 100%;

      textarea {
        min-height: 120px;
        padding: $grid-gutter-width;
        vertical-align: top;
        overflow: hidden;
      }
    }
    .form__button {
      flex: 0 0 50%;

      @include media-breakpoint-down(lg) {
        flex: 0 0 100%;
        order: 5;
      }
    }
  }

  &__feedback {
    flex: 0 0 50%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.025em;
      padding-right: 0.9rem;
      padding-bottom: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;

      &:nth-child(2) {
        padding-right: 0;
      }

      @include media-breakpoint-down(sm) {
        &:nth-child(1) {
          flex: 1 1 auto;
        }
        &:nth-child(3) {
          padding-right: 0;
        }
      }

      @include media-breakpoint-down(xs) {
        justify-content: center;
        &:nth-child(1) {
          flex: 1 1 100%;
        }
        &:nth-child(4) {
          flex: 1 1 100%;
        }
      }
    }

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-right: 0.3rem;
      color: $accent;
      line-height: 1;
      svg {
      height: 15px;
      
      }
    }

    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      order: 6;
      margin-top: $grid-gutter-width/2;
    }

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }
  }

  &__map {
    width: 100%;
    overflow: hidden;
  }
  
}
.form {

  &__input-field {
  }

  &__input {
  }

  &__button {
  }
}

//*************************FOOTER*****************

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
  height: 6.25rem;
  font-size: 12px;

  span {
    font-weight: bold;
    color:rgba(255, 255, 255, 0.4);
  }
}
